

.form{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    left: 0;
}

.form-inner{
    
    border: 20px solid lightblue;
    background-color: lightblue;
    width: 50%;
    margin-top: 20vh;
    margin-bottom: 40vh;
}

.thoughts{
    height: 60px;
    margin-bottom: 20px;
}

