<main>
    <article>

    <app-post-form *ngIf="showForm" (submitted)="onSubmit($event)"></app-post-form>
    
    <div class="div1">
      <button class="new" (click)="showThoughtForm()">New Thought</button>
    </div>
<div class="list1">
    <div class="list2">
      <ul>        
        <app-post *ngFor="let post of posts; let i = index" [title]='post.title' [thought]='post.thought' (deleted)="onDelete(i)"></app-post>
        <!--<todo *ngFor="let todo of (todos | todoFilter : filterText); let i = index" (deleted)="deleteItem(i)" (onComplete)="completeItem(i)" [completed]="todo.completed" [task]="todo.task"></todo>--> 
      </ul>  
  </div>
</div>
  
    
    </article>
    </main>